<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    
    
    <!-- Default Statcounter code for Fly Casual http://flycasual.github.io -->
<script type="text/javascript">
var sc_project=12025821; 
var sc_invisible=1; 
var sc_security="d94022ca"; 
var sc_https=1; 
var sc_remove_link=1; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><img class="statcounter"
src="https://c.statcounter.com/12025821/0/d94022ca/1/" alt="Web
Analytics"></div></noscript>
<!-- End of Statcounter Code -->
    
    
    
    
    {% include nav-footer.html %}
  </div>
</footer>
